@import "tailwindcss";

@plugin '../hero.ts';

@source '../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';

@custom-variant dark (&:is(.dark *, .ocean *, .forest *, .purple-dark *, .midnight *));

@theme {
    --font-sans: "font", sans-serif;
    --font-mono: "monospace", monospace;
}
